/* RESET */

*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif; overflow-x: hidden;}


/* BASICS */

nav, ul, li {list-style: none;}
a{text-decoration: none; cursor: pointer;}

.roundedImg {border-radius: 250px; height: 300px; width: 300px;}



/* ANIMATIONS */

@keyframes changeColor {
    30% {color: #0b82a0}
    60% {color: #b10d72}
    100% {color: #b45ae9}
}

@keyframes changeBgColor {
    30% {background-color: #07495a}
    60% {background-color: #351b23}
    100% {background-color: #70249c}
}

@keyframes rotate {
    to {transform: rotate(90deg)}
}
@keyframes rotateOff {
    to {transform: rotate(-90deg)}
}

@keyframes jump {
    50% {transform: translateY(-10px)}
}



/* OVERLAY MENU */
.ovelerlay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20fr 60fr 20fr;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #70249c;
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
    transition: 1s;
    animation: changeBgColor 20s infinite linear;

}
.closeBtnContainer {grid-area: 1/5/2/6; display: flex; align-items: center; justify-content: center;}
.closeBtnContainer .closeBtn { font-size: 1.3em; color: #fff; }
.closeBtn i {animation: rotateOff 0.3s;}
.closeBtn i:hover {animation: rotate 0.3s ease-out;}

.overlayContent {grid-area: 2/2/3/5;}
.overlayContent li {margin: 30px 0;}
.overlayContent li a {color: #fff;}
.overlayContent li:hover {animation: jump 0.4s 2 ease-in;}

/* HEADER */

header .menuBar {width: 100vw; display: flex; flex-direction: row; align-items: center; justify-content: space-between; height: 20vh;}
header .menuBar h3 {font-family: 'Indie Flower'; font-size: 2.5em; margin: 50px 100px; color: #b45ae9; animation: changeColor 15s infinite ease;}
header .menuBar i {font-size: 2.5em; color: #70249c; margin: 50px 100px; cursor: pointer; transition: ease-out;}
header .menuBar i:hover {animation: jump 0.35s 2 ease-out;}

header .hero {background: url(../img/dmitri-popov-173676-unsplash.jpg) no-repeat; min-height: 75vh; background-size: cover;}

header .hero .heroCover {display: grid; background: #ffffffdd; height: 80vh; opacity: 0.8; grid-template-columns: 1fr repeat(5, 2fr) 1fr; grid-template-rows: 20vh 15vh 1em 40vh;}

header .hero .heroCover .h1Container {grid-area: 2/3/3/6; display: flex; align-items: center; justify-content: center;}
header .hero .heroCover h1 {font-size: 2.4em; color: #70249c; padding-top: 10px;}
header .hero .heroCover .h3Container {grid-area: 4/2/5/7; display: flex; justify-content: center; text-align: center;}
header .hero .heroCover h3 {color: #525252; font-size: 1.8em; max-width: 800px;}




/* ABOUT */

.about {height: 100vh; background: #fff; display: grid; grid-template-columns: 1fr repeat(5, 1fr) 1fr; grid-template-rows: 70vh 30vh;}
.about figure {grid-area: 1/3/2/6; display: flex; align-items: center; justify-content: center;}
.about h3 {grid-area: 2/2/3/7; font-size: 1.5em; text-align: center; color: #b45ae9;}
.about hr {width: 200px; height: 4px; color: #b45ae9;}