/* RESET */

*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif; overflow-x: hidden;}


/* BASICS */

nav, ul, li {list-style: none;}
a{text-decoration: none; cursor: pointer;}


/* HEADER */

header .menuBar {width: 100vw; display: flex; flex-direction: row; align-items: center; justify-content: space-between; height: 20vh;}
header .menuBar h3 {font-family: 'Indie Flower'; font-size: 2.5em; margin: 50px 100px; color: #cb8af0}
header .menuBar i {font-size: 2.5em; color: #cb8af0; margin: 50px 100px; cursor: pointer;}

.hero {background: url(../img/dmitri-popov-173676-unsplash.jpg) no-repeat top; min-height: 75vh; background-size: cover;}

header .hero .heroCover {display: grid; background: #fff; height: 80vh; opacity: 0.9; grid-template-columns: 1fr repeat(5, 2fr) 1fr; grid-template-rows: 10vh 15vh 50vh; grid-column-gap: 1em;}
header .hero .heroCover h1 {grid-area: 2/2/3/3; font-size: 3em; color: #cb8af0;}
header .hero .heroCover h3 {grid-area: 3/2/4/5; color: #525252; font-size: 1.5em;}
header .hero .heroCover figure {grid-area: 2/5/4/7; display: flex; align-items: flex-start; justify-content: center;}
header .hero .heroCover figure img {border-radius: 250px; height: 55vh; width: 55vh;}

/* ABOUT */

.about {height: 100vh; background: #fff;}